* {
    background-color: #181818;
    color: #FFFFFF;
}

QLabel {
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 5px;
}

QMainWindow {
    border: 1px solid #282828;
}

QScrollArea {
    background-color: #181818;
}
